[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = TW
ST = Taiwan
L = Taipei
O = CAJ Inc.
OU = IT Department
emailAddress = caj@example.com
CN = caj.labs.exmaple.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = *.labs.exmaple.com
DNS.3 = *.apps.penguin.rhtw.kubedev.org
DNS.4 = *.speaker01.svc.cluster.local
DNS.5 = *.speaker02.svc.cluster.local
DNS.6 = *.student01.svc.cluster.local
DNS.7 = *.student02.svc.cluster.local
DNS.8 = *.student03.svc.cluster.local
DNS.9 = *.student04.svc.cluster.local
DNS.10 = *.student05.svc.cluster.local
DNS.11 = *.student06.svc.cluster.local
DNS.12 = *.student07.svc.cluster.local
DNS.13 = *.student08.svc.cluster.local
DNS.14 = *.student09.svc.cluster.local
DNS.15 = *.student10.svc.cluster.local
DNS.16 = *.student11.svc.cluster.local
DNS.17 = *.student12.svc.cluster.local
DNS.18 = *.student13.svc.cluster.local
DNS.19 = *.student14.svc.cluster.local
DNS.20 = *.student15.svc.cluster.local
DNS.21 = *.student16.svc.cluster.local
DNS.22 = *.student17.svc.cluster.local
DNS.23 = *.student18.svc.cluster.local
DNS.24 = *.student19.svc.cluster.local
DNS.25 = *.student20.svc.cluster.local
DNS.26 = *.student21.svc.cluster.local
DNS.27 = *.student22.svc.cluster.local
DNS.28 = *.student23.svc.cluster.local
DNS.29 = *.student24.svc.cluster.local
DNS.30 = *.student25.svc.cluster.local
DNS.31 = *.student26.svc.cluster.local
DNS.32 = *.student27.svc.cluster.local
DNS.33 = *.student28.svc.cluster.local
DNS.34 = *.student29.svc.cluster.local
DNS.35 = *.student30.svc.cluster.local
