[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = TW
ST = Taiwan
L = Taipei
O = CAJ Inc.
OU = IT Department
emailAddress = caj@example.com
CN = caj.labs.exmaple.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.labs.exmaple.com
DNS.2 = localhost
DNS.3 = *.svc.cluster.local
DNS.4 = caj-fare
DNS.5 = caj-gateway
DNS.6 = caj-master-file
DNS.7 = caj-schedule
DNS.8 = caj-web
DNS.9 = caj-web-tls
