[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = TW
ST = Taiwan
L = Taipei
O = CAJ Inc.
OU = IT Department
emailAddress = caj@example.com
CN = caj.labs.exmaple.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.labs.exmaple.com
DNS.2 = *.apps.penguin.rhtw.kubedev.org
DNS.3 = localhost
