<p-dropdown [options]="farePlans" [(ngModel)]="selectedFarePlans" optionLabel="name" (onChange)="changeFareTable()" ></p-dropdown>
<p-table [value]="fare" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>起/迄</th>
          <th>南港</th>
          <th>台北</th>
          <th>板橋</th>
          <th>桃園</th>
          <th>新竹</th>
          <th>苗栗</th>
          <th>台中</th>
          <th>彰化</th>
          <th>雲林</th>
          <th>嘉義</th>
          <th>台南</th>
          <th>左營</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-fare>
      <tr>
          <td>{{fare.station}}</td>
          <td>{{fare.nak}}</td>
          <td>{{fare.tpe}}</td>
          <td>{{fare.bac}}</td>
          <td>{{fare.tay}}</td>
          <td>{{fare.hsc}}</td>
          <td>{{fare.mil}}</td>
          <td>{{fare.tac}}</td>
          <td>{{fare.cha}}</td>
          <td>{{fare.yul}}</td>
          <td>{{fare.chy}}</td>
          <td>{{fare.tan}}</td>
          <td>{{fare.zuy}}</td>
      </tr>
  </ng-template>
</p-table>
