.header {
  background-color: #ca4f0f;
  min-height: 80px;
  color: white;
}

.header2 {
  background-color: blue;
  min-height: 80px;
  color: white;
}


.body {
  min-height: 800px;
}

.footer {
  background-color: #ca4f0f;
  color: white;
  min-height: 80px;
}

.footer2 {
  background-color: blue;
  color: white;
  min-height: 80px;
}

.blueback {
  background: blue !important;
  border: 1px solid blue !important;
}